.recipe-show {
  background-color: antiquewhite;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.recipe-box {
  background-color: antiquewhite;
  width: 70vw;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-box-img {
  height: 30vh;
  width: 30vw;
  min-height: 300px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.recipe-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.recipe-detail-box {
  margin: 10px 0px;
}

.recipe-detail-box>.recipe-detail {
  font-size: 20px;
  margin-right: 40px;
}

.recipe-explain{
  width: 40%;
  padding-left: 10px;
}
.recipe-explain-box {
  font-size: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.recipe-explain-box>.no-of-dish {
  font-size: 16px;
  padding-left: 5px;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
  padding-left: 20px;
}

.detail-tool {
  width: 20%;
  background-color: rgb(247, 205, 153);
  border-radius: 50px;
  font-size: 14px;
  text-align: center;
}
.detail-tool-value {
  width: 40%;
  padding: 20px;
  font-size: 14px;
}

.detail-recipe {
  width: 20%;
  border-bottom: 1px solid #dedede;
  font-size: 14px;
  text-align: left;
}
.detail-recipe-value {
  width: 40%;
  padding: 20px;
  border-bottom: 1px solid #dedede;
  font-size: 14px;
  text-align: right;
}

.recipe-procedure-title {
  font-size: 20px;
  margin-top: 20px;
  overflow-wrap: anywhere;
}
.recipe-procedure-text {
  font-size: 16px;
  padding-left: 5px;
}

.edit-btn{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.recipe-red-btn {
  height: 50px;
  width: 180px;
  background: darksalmon;
  border: 1px solid coral;
  border-radius: 5px;
  color: #FFF;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
}
.recipe-destroy {
  height: 50px;
  width: 180px;
  background-color: #aaa;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  margin-left: 80px;
}

