* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 1vh 15vw 0;
  display: flex;
  flex-direction: column;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo-icon {
  width: 15vw;
  margin-right: 5vw;
  object-fit: contain;
}

.search-right{
  height: 12vh;
}

.search-form {
  width: 50vw;
  height: 5vh;
  display: flex;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: darksalmon;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  width: 100%;
}

.lists-right{
  display: flex;
  justify-content: right;
  list-style: none;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}
.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}
.sign-up {
  text-decoration: none;
  line-height: 32px;
  color: #333333;
}